
<div class="panel panel-default">
	<div class="panel-heading">
		<h4> <span class="maki-baseball"> </span> MLB Headlines</h4>
	</div>
	<div class="panel-body">
		<div class="ESPN_list-group">
			<% @headlines_mlb.each do |headline| %>
				<a href="<%= headline['links']['web']['href']%>" target="_blank" class="list-group-item"><%= headline['headline'] %>
			  <%end%>   
			</a>
		</div>
	</div><!--/panel-->
</div>

