<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <meta charset="utf-8">
  <title>Fanatic Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag "menu" %>
  
</head>

<body>
  <!-- Main -->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="list-inline pull-right">
         <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
         <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-comment"></i><span class="count">3</span></a><ul class="dropdown-menu" role="menu"></ul></li>
         <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
         <%if can? :create, Post %>
         <li><a title="Add post" data-toggle="modal" href="/posts/new"><span class="glyphicon glyphicon-plus-sign"></span> New Post</a></li>
         <% end %>
       </ul>
       <a href="#"><strong><i class="glyphicon glyphicon-star-empty"></i>  Featured Posts</strong></a>  
       <hr>
       <div class="carousel slide" id="carousel-710746">
        <ol class="carousel-indicators">
          <li data-slide-to="0" data-target="#carousel-710746">
          </li>
          <li data-slide-to="1" data-target="#carousel-710746" class="active">
          </li>
          <li data-slide-to="2" data-target="#carousel-710746">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="item">
            <img alt="" src="http://lorempixel.com/1600/500/sports/1" />
            <div class="carousel-caption">
              <h4>
                First Thumbnail label
              </h4>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
          <div class="item active">
            <img alt="" src="http://lorempixel.com/1600/500/sports/2" />
            <div class="carousel-caption">
              <h4>
                Second Thumbnail label
              </h4>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="http://lorempixel.com/1600/500/sports/3" />
            <div class="carousel-caption">
              <h4>
                Third Thumbnail label
              </h4>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div> <a class="left carousel-control" href="#carousel-710746" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-710746" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
      <!-- column 2 -->	
      <div class="col-md-12">
       <div class="row">
        <div class="col-md-12">
          <br />
          <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Activity Feed</strong></a> 
          <hr>
          <div class="panel-body">
           <%= render template: 'layouts/_activities.html.erb'%></a></li>
         </div>  
       </div>
     </div>
   </div>
   
 </div><!--/col-span-9-->


 <!-- JavaScript jQuery code from Bootply.com editor -->

 <script type='text/javascript'>
  
  $(document).ready(function() {
    
    $(".alert").addClass("in").fadeOut(4500);

    /* swap open/close side menu icons */
    $('[data-toggle=collapse]').click(function(){
  	// toggle icon
  	$(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
  });
    
  });
  
</script>

</body>
</html>