<%= stylesheet_link_tag "posts" %>
<%= javascript_include_tag "post_index" %>
 <div class="container">
   <div class="row">
    <div class="col-md-10 column">
      <div id="title">
     <a href="/posts"><strong><i class="glyphicon glyphicon-star-empty"></i>  All Posts</strong></a> 
      </div> 

     <div id="new_button">
     <%if can? :create, Post %>
     <a href="/posts/new"><strong><i class="glyphicon glyphicon-plus-sign"></i>  New Post</strong></a>
     <% end %>
     </div>  
       <br>  
       <hr>
           <br>
  <div>

<input type="hidden" id="dropdown" style="width:300px" class="input-xlarge" />

  </div>
  <br>
	     <div id="columns">
        <%= render partial:'postPreview'%>
    </div>
  </div>
</div>
