<%= stylesheet_link_tag "posts" %>
<h1>All Posts</h1>
<%= link_to("New Post", {:action => 'new'}, :class => 'btn btn-default') %>
 <div class="container">
   <div class="row">
    <div class="col-md-10 column">
	    <div id="columns">
        <%= render partial:'postPreview'%>
        </div>
      </div>
  </div>
</div>

