/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require token-input-facebook
*= require select2
*= require select2-bootstrap
*= require jquery.fileupload-ui
*/

#top-nav{
	background: #000;
}


#sidebar-wrapper {
  width: 225px;
  background: #000;
  position: fixed;
  margin-right: 25px;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: relative;
  top: 0;
  width: 225px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav i{
  margin-right: 3px;
}

.fanatic-menu li.nav-header{
  margin-top: 60px;
}

#userMenu li{
  text-indent: 65px;
}

#sidebar-wrapper .nav-header{
	text-indent: 22px;
}

 #sidebar-wrapper .nav-header a:hover{
  background: #000;
}

.sidebar-nav li {
  line-height: 25px;
  text-indent: 15px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#userMenu > hr {
  border-top: 1px solid #999999;
}

#menu-toggle {
  top: 50px;
  left: 165px;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  left: -225px;
  width: 225px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}


.application_column {
  margin-left: 220px;
  position: relative;
}

@media only screen and (max-width: 1200px) {
.application_column {
}
}

@media only screen and (max-width: 1024px) {
.application_column {
}
}

@media only screen and (max-width: 850px) {
.application_column {
}
#sidebar-wrapper{
  width: 200px;
}
}
@media only screen and (max-width: 700px) {
.application_column {
}
#sidebar-wrapper{
  width: 170px;
}
}

@media only screen and (max-width: 500px) {
.application_column {
}
#sidebar-wrapper{
  width: 170px;
}
}



body {
  background-color:#E9EAED;
} 



