h2 {
  text-align: center;
}
.col-md-8 #user_teams a {
  text-decoration: none;
  color: inherit;
}

.teamname {
	display: inline-block;
	width: 100%
}

table {
	table-layout: fixed;
	margin-top: 1%;
	width: 100%;
}

td {
	display: inline-block;
}

.thumbnail {
	overflow: hidden;
	text-align: center;
}
.thumbnail:hover {
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc; 
}


.profile_pic{
	display: block;
	-webkit-box-shadow: 7px 7px 25px 1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 25px 1px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 25px 1px rgba(50, 50, 50, 0.75);
	margin: 0 auto;
	margin-top: 30px;
}

.following_images{
	margin-top: 10%;
	display: inline-block;
	width: 200px;
}

ul#grid {
  padding: 0;
  list-style: none;
  margin: auto 0;
  margin-bottom: 10%;
  }

#grid li {
  float: left;
  padding: 0;
  margin: 0 2px 5px 2px;
  } 

.caption {
	width: 90%;
}
.col-md-3 h4 {
 	display: inline-block;
    margin-top: 10%;
    margin-bottom: 0%;
    text-align: center;
    width: 100%;
}
.col-md-3{
	margin-left: 3%;
	width: 20%
	}

.col-md-8{
	width: 75%
	}

.col-md-3 .dl-horizontal dt {
	width: 90%;
	text-align: left;
	margin: 0 auto;
}
	
#title {
	float: left;
	
}
#new_button {
	float: right;
}

/*Post Style */

body {
	background-color:#F5F5F5;
} 

.image {
 	width: 250px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

#wrapper {
	width: 100%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 10px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	page-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

#columns:hover .pin:not(:hover) {
	opacity: 0.6;
}

#title {
	float: left;
	
}
#new_button {
	float: right;

}
.post-info {
	width: 100%;
	display: inline-block;
}
.post-actions {
	width:100%;
	display: inline-block;
}

.tags {
	float: left;

}
.tags ul {
	display: inline;
}
#cheers {
	float: right;
	display: inline;
}
.buttons {
	margin-top: 5px;
	float: left;
}

.votes {
	margin-top: 5px;
	float: right;
}
.sort_menu{
	float:right;	
}






