h2 {
	text-align: center;
}
.col-md-8 #user_teams a {
	text-decoration: none;
	color: inherit;
}

.teamname {
	display: inline-block;
	width: 100%
}

table {
	table-layout: fixed;
	margin-top: 1%;
	width: 100%;
}

td {
	display: inline-block;
}

.thumbnail {
	overflow: hidden;
	text-align: center;
}
.thumbnail:hover {
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc; 
}

.following_images{
	width:100%;
	margin: 0 auto;
	display: inline-block;
}

.caption {
	width: 90%;
}
.col-md-3 h4 {
	display: inline-block;
	margin-top: 10%;
	margin-bottom: 0%;
	text-align: center;
	width: 100%;
}
.col-md-3{
	margin-left: 3%;
	width: 20%
}

.col-md-8{
	width: 75%
}

#title {
	float: left;
	
}
#new_button {
	float: right;
}

/*Post Style */

body {
	background-color:#E9EAED;
} 

.image {
	width: 250px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

#wrapper {
	width: 100%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 10px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	page-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

#columns:hover .pin:not(:hover) {
	opacity: 0.6;
}

#title {
	float: left;
	
}
#new_button {
	float: right;

}
.post-info {
	width: 100%;
	display: inline-block;
}
.post-actions {
	width:100%;
	display: inline-block;
}

.tags {
	float: left;

}
.tags ul {
	display: inline;
}
#cheers {
	float: right;
	display: inline;
}
.buttons {
	margin-top: 5px;
	float: left;
}

.votes {
	margin-top: 5px;
	float: right;
}
.sort_menu{
	float:right;	
}

/*right column divs*/

/*user widget*/
#user_widget{
	height: auto;
	margin-top: 20px;
	background-color:#FFFFFF;
	border-radius: 10px; 
	box-shadow: 0 0 5px #ccc;
	padding: 0px;
	position: relative;
	z-index: -1;

}

div#DashboardProfileCard{
	width: 100%;
	height: 50%;
	background-color: black;
	position: absolute;
	border-radius: 10px 10px 0px 0px;
	z-index: 0;
	
}
#first_name{
	position: relative;
	font-size: 18px;
	color: #999999;
	left: 160px;
	bottom: 35px; 
	width: 40%;
	z-index: 0;
}

#username{
	left: 175px;
	bottom: 27px; 
	width: 40%;
	position: relative;
}
#posts{
    width: 30%;
	display: inline-block;
	font-size: 25px;
	text-align: center;

}

#cheers_count{
	width: 30%;
	display: inline-block;
	font-size: 25px;
	text-align: center;

}
#following_count{
	width: 30%;
	display: inline-block;
	font-size: 25px;
	text-align: center;

}
#following_label{
    width: 30%;
    font-size: 10px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;

}
#posts_label{
    width: 30%;
    font-size: 10px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;

}

#cheers_label{
	width: 30%;
	font-size: 10px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}


.profile_pic{
	left: 15px;
	top: 40px;
	margin-bottom: 15px;
	border: 5px solid white;
	border-radius: 10px;
	width: 120px;
	position: relative;
	z-index: 1;
}

/*Widget header*/
#widget_header{
	width:100%;
	height: 100%;
	padding:0px 0px;
	border-radius: 10px 10px 0px 0px;
	margin:0px auto;
	background-color: #F6F7F8;
}

/*Following Widget*/
#following_widget {
	margin-top: 20px;
	background-color:#FFFFFF;
	border-radius: 10px;
	box-shadow: 0 0 5px #ccc;
}

ul#grid {
	list-style: none;
	margin: 0 auto;
    padding: 0px 10px 0px 10px;
    width: 90%;
}
#grid li {
	float: left;
	padding: 0;
	margin: 3px 3px 3px 3px;
} 
 
 /*Team Widget*/
#team_widget {
	margin-top: 20px;
	background-color:#FFFFFF;
	border-radius: 10px; 
	box-shadow: 0 0 5px #ccc;
	padding: 0px;
}

.team_images {
	width: 100%;
	padding-bottom: 20px;
	text-align: center;
}


/*Activity widget*/
#activity_widget {
	margin-top: 20px;
	background-color:#FFFFFF;
	border-radius: 10px;
	box-shadow: 0 0 5px #ccc;
	padding: 0px; 
}


#activity_widget ul {
	list-style: none;
	padding: 0;
	padding-bottom: 15px;
}

#activity_widget li {
	margin: 0px 15px 20px 15px;

}





