h2 {
  text-align: center;
}
.col-md-8 #user_teams a {
  text-decoration: none;
  color: inherit;
}

.teamname {
	display: inline-block;
}

table {
	table-layout: fixed;
	margin-top: 1%;
	width: 100%;
}

td {
	display: inline-block;
    padding: 1%;
    min-width: 30%;
}

.thumbnail {
	overflow: hidden;
	text-align: center;
}
.thumbnail:hover {
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc; 
}


.profile_pic{
	display: block;
	-webkit-box-shadow: 7px 7px 25px 1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 25px 1px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 25px 1px rgba(50, 50, 50, 0.75);
	margin: 0 auto;
	margin-top: 30px;
}

.following_images{
	margin-top: 10%;
	display: inline-block;
	width: 200px;
}

ul#grid {
  padding: 0;
  list-style: none;
  margin: auto 0;
  margin-bottom: 10%;
  }

#grid li {
  float: left;
  padding: 0;
  margin: 0 2px 5px 2px;
  } 


.col-md-3 h4 {
 	display: inline-block;
    margin-top: 10%;
    margin-bottom: 0%;
    text-align: center;
    width: 100%;
}
.col-md-3{
	margin-left: 10%;
	width: 20%
	}

.col-md-3 .dl-horizontal dt {
	width: 90%;
	text-align: left;
	margin: 0 auto;
}
	
#title {
	float: left;
	
}
#new_button {
	float: right;

}
