
@import url(http://weloveiconfonts.com/api/?family=maki);

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

span {
  font-size:16px;
  margin-right: 10px;
}

.panel-default {
	width:80%;
}
