// Place all the styles related to the onboarding controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://weloveiconfonts.com/api/?family=maki);

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

h3 {
	padding-bottom: 3%;
	margin-left:auto;
	margin-right:auto;
}

#welcome {
	width: 80%;
	margin-left:auto;
	margin-right:auto;	

}

#user_reg {
	width: 80%;
	margin-left:auto;
	margin-right:auto;	

}

#personalize {
	width: 70%;
	margin-left:auto;
	margin-right:auto;	

}
#personalize h3{
	text-align: center;
	vertical-align: middle;
}

#personalize h4{
	margin-top: 20px;
	text-align: center;
	vertical-align: middle;
}

#sports{
	width: 80%;
	margin-left:auto;
	margin-right:auto;	
}

#sports span {
  border-style:solid;
  border-radius: 50%;
  font-size: 56px;
  width: 100px;
  height: 100px;
  overflow:auto
}

#sports i {
  width: 75px;
  height: 75px;
  text-align:center;
  display: block;
}


#teams {
	width: 80%;
	margin-left:auto;
	margin-right:auto;	
}

.btn-block {
	margin-top: 15px;
}

.pager{
	margin: 20px;
}
 #personalize .box-shad {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#personalize img {
	height: 80px;
	width: 80px;
	display:block;
 	margin: auto;
}


#teams ul{  
  list-style: none;
  width: 100; 
  margin: 0 auto; 
  padding: 0;
}

ul img{
  display:block;
  height: 80px;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
} 

#team_details {
   display: inline-block;
   text-align: center;
   width: 100%;
}


.search input {
  color: #475B62;
}
.teamlist {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 0 0 20px 20px;
  opacity: .95;
  z-index: 10;
}
#team li {
 display: inline-block;
 width: 100%;
}

