.col-md-4 column {
	margin-left:auto; 
	margin-right:0;	
}

img {
	margin-bottom: 50px;
}
.dl-horizontal dt{
    text-align: left;
    margin-bottom: 1em;
    width: auto;
    padding-right: 1em;
}

.dl-horizontal dd{
    margin-left: 0;
    margin-bottom: 1em;
}


ul {
	display: inline;
}

.share a{ 
    color: inherit; 
    }

.votes {
    display: inline;
}

.votes a{
  text-decoration: none;
  margin-left: 3px;

}

dd .btn {
  width:57%;
 }

.form-control {
    margin-top: 10%;
}






