
body {
	background-color:#E9EAED;
} 

.image {
 	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}
#masonry{
  width: 100%;
  margin: 3% auto;
}

.pin {

	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 5px;
	-webkit-column-break-inside: avoid;
  -moz-border-radius: 4px;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	page-break-inside: avoid;
	padding: 15px;
  padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	width: 31%;
  min-width: 200px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

#columns:hover .pin:not(:hover) {
	opacity: 0.6;
}

.header #new_button > a {
  top: 250px;
	margin-right: 30px;
	position: relative;
	text-decoration: none;
	float: right;
	color: white;
}

.header #title > a{
  top: 250px;
  margin-left: 30px;
  position: relative;
  text-decoration: none;
  float: left;
  color:white;
}

.post-info {
	width:100%;
	display: inline-block;
}
.post-actions {
	width:100%;
	display: inline-block;
}

.tags {
	float: left;

}
.tags ul {
	display: inline;
}
#cheers {
	float: right;
	display: inline;
}
.buttons {
	margin-top: 5px;
	float: left;
}

.votes {
	margin-top: 5px;
	float: right;
}

.sort_menu {
	float:right;
  vertical-align: center;
  margin: 3px;
}
.select2-container{
  float:left;
  vertical-align: center;
  margin: 3px;
}

.content {
	top: 340px;
}

/*header container*/
.cd-member-bio-pict {
  max-height: 300px;
  overflow: hidden;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 5px solid white;
  box-shadow: 0px -2px 2px #888;
}

/*header image*/
.cd-member-bio-pict img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto !important;
  -ms-interpolation-mode: bicubic;
  z-index: 0;
  margin: auto;
}

/*zoom out from bottom center of header image*/
.flip {
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
}

/*profile pic*/
.header .cd-profile-pic img {	
  top: 240px;
  left: 45%;
  position: absolute;
  border: 5px solid white;
  z-index: 0;
  box-shadow: 0px 5px 5px #888,
}

.cd-team-logo{
  top: 250px;
  left: 45%;
  position: relative;
}

.logo-background {
  width: 120px;
  height: 110px;
  background-color: white;
  position: absolute;
  border-radius: 30%;
  box-shadow: 0px 2px 2px #888;
  z-index: 0;
  margin-left: 17px;
}

div.cd-team-logo > img {
  position: absolute;
  z-index: 1;
  padding: 4px;
}

table{
  min-width: 0;
  table-layout: fixed;
  word-wrap: break-word;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


// Responsive header

@media only screen and (max-width: 1350px) {
.header .cd-profile-pic img { 
  top: 250px;
  left: 45%;
}

.header #new_button > a {
  top: 250px;
  margin-right: 30px;
}

.header #title > a{
  top: 250px;
  margin-left: 30px;
}
}

@media only screen and (max-width: 1200px) {
.header .cd-profile-pic img { 
  top: 240px;
  left: 45%;
}

.header #new_button > a {
  top: 250px;
  margin-right: 30px;
}

.header #title > a{
  top: 250px;
  margin-left: 30px;
}
.content {
  top: 320px;
}
}

@media only screen and (max-width: 1024px) {
/*header container*/
.header .cd-profile-pic img { 
  top: 250px;
  left: 45%;
}

.header #new_button > a {
  top: 250px;
  margin-right: 30px;
}

.cd-member-bio .cd-profile-pic img { 
  right: 250px
}

.header #title > a{
  top: 250px;
  margin-left: 30px;
}
.content {
  top: 355px;
}
.user_column {
  visibility: hidden;
}
}

@media only screen and (max-width: 900px) {
.header .cd-profile-pic img { 
  top: 250px;
  left: 42%;
  display: relative;
}

.header #new_button > a {
  top: 250px;
  margin-right: 20px;
}

.header #title > a{
  top: 250px;
  margin-left: 20px;
}
.content {
  top: 395px;

}
}
@media only screen and (max-width: 700px) {
.header .cd-profile-pic img { 
  top: 100px;
  left: 37%;
}

.cd-member-bio .cd-profile-pic img { 
  right: 100px
}

.header #new_button > a {
  top: 30px;
  margin-right: 20px;
}

.header #title > a{
  top: 30px;
  margin-left: 20px;
}
.content {
  top: 100px;

}
}


@media only screen and (max-width: 600px) {
.header .cd-profile-pic img { 
  top: 50px;
  left: 25%;
}

.header #new_button > a {
  top: 45px;
  margin-right: 0px;
  color: black;
}

.header #title > a{
  top: 45px;
  margin-left: 0px;
  color: black;
}
.content {
  top: 50px;

}
}



