h2 {
	text-align: center;
}

.form-control {
  width:80%;
  text-align: center;
  margin: 0 auto;
}

.row {
	width: 80%; 
	margin: 0 auto;
}

label {
	margin-top: 10px
}

/* Angular User Search */

ul img{
  display:block;
  height: 80px;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
a.search_results {
  text-decoration: none;
  color: inherit;
}

#user_details {
   display: inline-block;
   text-align: center;
   width: 100%;
}

.form-control {
	margin-bottom: 20px;
}

.search input {
  color: #475B62;
}
.userlist {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 0 0 20px 20px;
  opacity: .95;
  z-index: 10;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}
#user li {
 display: inline-block;
 width: 100%;
}